<div class="d-flex justify-content-between">
  <h1><%= @task.title %></h1>
  <p class="btn btn-outline-secondary"><%= link_to "Edit task", edit_path(@task) %></p>
</div>


<p class="alert alert-secondary"><%= @task.details %></p>
<% if @task.completed %>
  <p>
  <i class="fa-regular fa-square-check me-1"></i>
  This task has been completed
  </p>
<% else %>
  <p>
  <i class="fa-regular fa-square me-1"></i>
  This task has not been completed
  </p>
<% end %>

<p>
  <%= link_to tasks_path do %>
  <i class="fa-solid fa-clock-rotate-left"></i> Back to list
  <% end %>
</p>
